{
    "DestinationName": "DEST_SAM2410_ONLINE_PPROP",
    "OfflineEnabled": true,
    "LanguageURLParam": "",
    "OnlineOptions": {},
    "OfflineOptions": {
	"StoreParameters": {}
},
    "PathSuffix": "",
    "SourceType": "Mobile",
    "ServiceUrl":""
}